:root {
    --one: repeat(1,fr);
    --inProgress: rgb(253, 210, 109);
    --complete: rgba(0, 206, 158, 1);
    --late: rgba(229, 76, 56, 1);
    --notDone: 1.0;
    --done: 0.5;
}



.comp {
    opacity: 0.5;
}
.inComp {
    opacity: 1.0;
}
.complete {
    background: var(--complete);
}
.inProgress {
    background: var(--inProgress);
}
.late {
    background: var(--late);
}



.mainContainer {
    padding: .5rem;
}
.mainGrid {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    
    align-items: flex-start;
}



.Today, .Proj, .Dailies {
    margin: 1rem;
    height: auto;
}
.Today {
    grid-column: 4 / span 1;
}
.Proj {
    grid-column: 2 / span 2;
}
.Dailies {
    grid-column: 1 / span 1;
}
.split {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}



.Proj .split .lists:nth-child(1) {
    grid-column: 1 / span 1;
}
.Proj .split .lists:nth-child(2) {
    grid-column: 2 / span 1;
}
.Dailies .noSplit, .Today .noSplit {
    display: grid;
    grid-template-columns: 1fr;
}
.Dailies .lists, .Today .lists {
    grid-column: 1 / span 1;
}



.daily {
    background: rgba(250, 249, 246, 1);
    height:100px;
    width: 100%;
    border-radius: 3px;
    min-width: 205px;
    max-width: 764x;
    margin: .3rem auto;
    transition-property: outline;
    transition-duration: 500ms;

    display: flex;
    justify-content: space-between;
}
.daily section:first-child {
    width: 2rem;
    min-width: 2rem;
    height: 100%;
    border-radius: 3px 0 0 3px;
    padding: 0;
    margin: 0;
}
.daily section:nth-child(2) {
    border-radius: 0 3px 3px 0;
}
.daily article {
    padding: 1rem;
    width: 100%;
}
.dailyRight {
    background: rgb(172, 255, 234);
    width: 50px;
    border-radius: 0 3px 3px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.dailyRight div:nth-child(1) {
    display: grid;
    place-content: center;
    height: 100%;
    width: 100%;
}
.dailyRight div:nth-child(2) {
    display: grid;
    place-content: center;
    height: 100%;
    width: 100%;
}
.dailyRight div:nth-child(1):hover {
    outline: 1px solid rgba(0,0,0,0.25);
    border-radius: 0 3px 0 0;
    
    background: rgb(77, 235, 195)
}
.dailyRight div:nth-child(2):hover {
    outline: 1px solid rgba(0,0,0,0.25);
    border-radius: 0 0 3px 0;
    
    background: rgb(77, 235, 195)
}
.daily:hover {
    outline: 1px solid black;
}

button:hover,
button:focus {
    background: #17cfe7;
}
button:active {
    transform: scale(0.99);
}
button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}



.lists {
    padding: 1rem;
    background: gainsboro;
    display: flex;
    flex-direction: column;
    min-height: 800px;
}






.inputTypeB {
    width: 100%;
    display:flex;
    margin-bottom: 1rem;
    height: 40px;
}
.inputTypeB input{
    background: rgba(255,255,255,0.8);
    border: none;
    border-radius: 3px 0 0 3px;
    width: 100%;
    padding: 0.3rem 1rem;
}
.inputTypeB button {
    display: inline-block;
    border: none;
    border-radius: 0 3px 3px 0;
    padding: 0.6rem 1rem;
    margin: 0;
    text-decoration: none;
    background: gray;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 550;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}


@media (min-width: 766px) and (max-width:1111px) {
    .mainGrid {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        margin-bottom: auto;
    }
    .Today, .Proj, .Dailies {
        margin: 1rem;
        height: auto;
    }
    .Today {
        grid-column: 1 / span 1;
        grid-row: 1;
    }
    .Proj {
        grid-column: 1 / span 2;
    }
    .Dailies {
        grid-column: 2 / span 1;
        grid-row: 1;
    }
}
@media (max-width:765px) {
    .mainGrid {
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        align-items: flex-start;
    }
    .Today, .Proj, .Dailies {
        margin: 1rem;
        height: auto;
    }
    .Today {
        grid-column: 1 / span 1;
        grid-row: 1;
    }
    .Proj {
        grid-column: 1 / span 1;
        grid-row: 3;
    }
    .Dailies {
        grid-column: 1 / span 1;
        grid-row: 2;
    }

    .split {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 2rem;
    }
    
    .Proj .split .lists:nth-child(1) {
        grid-column: 1 / span 1;
        grid-row: 1;
    }
    .Proj .split .lists:nth-child(2) {
        grid-column: 1 / span 1;
        grid-row: 2;
    }
}