.taskContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* display:grid;
    align-items: center;
    place-content: center; */
}
.taskCard {
    background: rgba(250, 249, 246, 1);
    min-height: 100px;
    max-width: 764x;
    min-width: 205px;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 3px;
    margin: .3rem auto;

    transition-property: outline;
    transition-duration: 500ms;

    display: flex;
    justify-content: space-between;
}
.opacity {
    opacity: .5;
}

.dailyLeft {
    position: relative;
    width: 2rem;
    min-width: 2rem;
    border-radius: 3px 0 0 3px;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
}
/* .taskCard section:nth-child(2) {
    border-radius: 0 3px 3px 0;
} */
.taskCard article {
    padding: 1rem;
    width: 100%;
}
.infoBar {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: .8rem;
    color: rgba(167, 167, 167, 0.8);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/* .infoBarSmall {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: .8rem;
    color: rgba(167, 167, 167, 0.8);
} */
.infoLeft {
    position: relative;
    left: 0;
    margin-right: .7rem;

}

.infoRight {
    margin-left: .7rem;
    position: relative;
    top:-.5;
    right:0;
}
.dailyRight {
    background: rgb(172, 255, 234);
    width: 50px;
    border-radius: 0 3px 3px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.dailyRight div:nth-child(1) {
    display: grid;
    place-content: center;
    height: 100%;
    width: 100%;
}
.dailyRight div:nth-child(2) {
    display: grid;
    place-content: center;
    height: 100%;
    width: 100%;
}
.complete {
    background: var(--complete);
}
.inProgress {
    background: var(--inProgress);
}
.late {
    background: var(--late);
}
.daily:hover {
    outline: 1px solid black;
}


/*  
    script == checkContainer
    input == checkbox
    geekmark == checkTypeA
*/

/*
.checkContainer {    /* script *
    position: relative;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}
.checkbox[type=checkbox] {   /* input *
    visibility:hidden;

}

.checkTypeA { /* geekmark *
    position: absolute;
    height: 24px;
    width: 24px;
    background-color: rgb(223, 223, 223);
}
.checkContainer:hover .checkbox ~ .checkTypeA {
    background-color:rgb(236, 236, 236);
}

.checkContainer checkbox:active ~ .checkTypeA {
    background-color: red;
}

.checkContainer checkbox:checked ~ .checkTypeA {
    background-color: green;
}

.checkTypeA:after {
    content:"";
    position: absolute;
    display:none;
}
.checkContainer checkbox:checked ~ .checkTypeA:after {
    display:block;
}
.checkContainer .checkTypeA:after {
    left: 6px;
    bottom: 5px;
    width: 6px;
    height: 6px;
    border: solid white;
    border-width: 4px 4px 4px 4px;
}
*/
/*  Previous Test.css for current Quest Log 1/10/2022   */
/* 
.mainContainer {
    padding: .5rem;
}
.mainGrid {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    
    align-items: flex-start;
}
.Today, .Proj, .Dailies {
    margin: 1rem;
    height: auto;
}
.Today {
    grid-column: 4 / span 1;
}
.Proj {
    grid-column: 2 / span 2;
}
.Dailies {
    grid-column: 1 / span 1;
}
.split {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.Proj .split .lists:nth-child(1) {
    grid-column: 1 / span 1;
}
.Proj .split .lists:nth-child(2) {
    grid-column: 2 / span 1;
}
.Dailies .noSplit, .Today .noSplit {
    display: grid;
    grid-template-columns: 1fr;
}
.Dailies .lists, .Today .lists {
    grid-column: 1 / span 1;
}
.lists {
    padding: 1rem;
    background: gainsboro;
    display: flex;
    flex-direction: column;
    min-height: 800px;
}
.inputTypeB {
    width: 100%;
    display:flex;
    margin-bottom: 1rem;
    height: 40px;
}
.inputTypeB input{
    background: rgba(255,255,255,0.8);
    border: none;
    width: 100%;
    border-radius: 10px 0 0 10px;
    padding: 0.3rem 1rem;
}
.inputTypeB button {
    display: inline-block;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 0.6rem 1rem;
    margin: 0;
    text-decoration: none;
    background: gray;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 550;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

@media (min-width: 766px) and (max-width:1111px) {
    .mainGrid {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        margin-bottom: auto;
    }
    .Today, .Proj, .Dailies {
        margin: 1rem;
        height: auto;
    }
    .Today {
        grid-column: 1 / span 1;
        grid-row: 1;
    }
    .Proj {
        grid-column: 1 / span 2;
    }
    .Dailies {
        grid-column: 2 / span 1;
        grid-row: 1;
    }
}
@media (max-width:765px) {
    .mainGrid {
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        align-items: flex-start;
    }
    .Today, .Proj, .Dailies {
        margin: 1rem;
        height: auto;
    }
    .Today {
        grid-column: 1 / span 1;
        grid-row: 1;
    }
    .Proj {
        grid-column: 1 / span 1;
        grid-row: 3;
    }
    .Dailies {
        grid-column: 1 / span 1;
        grid-row: 2;
    }

    .split {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 2rem;
    }
    
    .Proj .split .lists:nth-child(1) {
        grid-column: 1 / span 1;
        grid-row: 1;
    }
    .Proj .split .lists:nth-child(2) {
        grid-column: 1 / span 1;
        grid-row: 2;
    }
} */